.title{
    color: blue;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 12;
}
form{
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}
input,select{
    width: 94%;
    padding:auto 3%;
}
button{
    width:100%;
    margin-top: 30px;
}